/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} /* s'applique à tous les éléments : width est une largeur hors-tout !! */

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}
html {
	font-size : 1.15vw /* Taille de base selon la largeur de l'écran (1 = 100 
	carac/ligne) !*/
	/* On aurait pu choisir la hauteur !!!*/
}

.body {
	width : 100%;
	background-color : LightGrey;
}

.header {
	position : fixed;
	background-color : LightGrey;
	z-index : 1;
	top : 0px;
	width :100%;
	height : var(--header-height);
}

.main_container {
	position : relative;
	top : var(--header-height);
	z-index : 0;
	width : 100%;
	overflow-y : hidden;
}
/***********************************
	LOADING ... please wait
************************************/

#patience {
	position: fixed;
	visibility: hidden;
	z-index:    1000;
	text-align : center;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    padding-top: 15%;
    background: rgba( 255, 255, 255, .9 );
}

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/***********************************
	BOUTONS
************************************/
/* Les boutons du menu principal */
.bouton_menu {

	width: 100%;
	padding-top : 2ex;
	padding-bottom:2ex;
	margin : 1%;
	border-radius: .4em .4em .4em .4em ;
	background-color: #cccccc;
	font-size : 3em;
	cursor: pointer;
}

/* Les boutons contenant un nom de fichier (intervient dans tous les menus)*/
.fichier {

	padding-top : .7ex;
	padding-bottom: .7ex;
	padding-left : 1em;
	padding-right: 1em;
	margin-bottom : .5em;
	margin-left: 1em;
	margin-right: 1em;

	border-radius: .4em .4em .4em .4em ;
	background-color: #cccccc;
	font-size : 1.3em;
	min-width: 6em;

	cursor: pointer;
}

/***********************************
	MENUS (général, admin, comm)
************************************/
/*  Sous-menu (dans le cas admin, contient les étapes) */
.sous_menu {

	border:1px solid black;
	padding-top: .5vw;
	padding-bottom: .5vw;
	padding-left: 1em;
	padding-right: 1em;
	margin-left : 5%;
	margin-right : 5%;
	margin-bottom : 2ex;
}

.flex-row-layout {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
}

.etape {
	text-align : left;
	font-size : 1.5vw;
	font-weight: bold;
	margin-bottom : 1ex;
}

/* Premier sous menu admin */
.liste_csv 
	{
		flex:2;
		text-align : left;
		font-size : 1.4vw;
	}

.liste_pdf	
	{
		flex:2;
		text-align : right;
		font-size : 1.4vw;
	}

/* Le bouton Vérifier / Traiter */
.bout_csv_div 
	{
		flex:1;
		justify-content: center;
		align-self: center;
	}

/* 2e sous menu admin */
.liste_admin {

	text-align: center;
	width : 45%;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

/* div : statistiques */
.stat {
	text-align : left;
	width : 40%;
	font-size: 1.2em;
}

/* sous menu jurys */
.liste_jury {

	margin-left:20%;
	margin-right:20%;
	text-align: center;
}

/***********************************
			IMPRESSION
************************************/

/* Rajoute des espaces dans l'impression ...*/
.espace_impr 
	{
		display: none;
	}

/* La correction : on imprime mais n'affiche pas*/
.correc_impr 
	{
		display : none;
	}

.impr_seul
	{
		display: none;
	}

div.breakafter
	{ 
  		page-break-after: always; 
	}

/***********************************
		LISTE DES DOSSIERS
************************************/

/* format type d'un bouton de cette liste */
.doss 
	{
		width : 100%;
		/* Pour la présentation : police monospace */
		font-family : Courier, monospace; 
		font-size : .8vw;
		color : black;
		text-align : left;
		box-sizing : border-box;
		margin-top : 0ex;
		margin-bottom : 0ex;
		background-color : rgba( 255, 255, 255, .9 );
	}

/* on passe dessus avec la souris */
.doss:hover{border: 2px solid SkyBlue;} 
	
/* a été traité --> vert */
.doss_traite{background-color:LimeGreen;} 

/* est sélectionné : bordure bleue */
.doss_courant{border: 2px solid Blue; color : red;} 

/* est de l'epa : bordure bleue */
.doss_epa{border: 3px dashed Blue;} 

/* admin : alerte / jury : commentaire admin */
.doss_incomplet{background-color:LightCoral;} 

/* admin : déposé un commentaire mais classable */
.doss_commente{background-color:Yellow;} 

/* admin seulement : rejeté */
.doss_rejete{background-color:DimGray;} 

/* ex-aequo score final */
.doss_doublon_sf{background-color:Purple;} 

/***********************************
			PAGE DOSSIERS
************************************/

/************ 1/ Les div ***********/

/* Style de la colonne dossier*/
#dossier 
	{
		display : inline-block;
		padding-left : 1%;
		width: 75%;
		vertical-align : top;
	}

/* Style du bandeau latéral qui contient gros_bout_div et liste */
#bandeau_lateral 
	{
		display : inline-block;
		width : 23%;
		padding-left: 1%;
		vertical-align : top;
	}

/* Style de la colonne Liste des dossiers */
#liste 
	{
		/* sert pour que l'évènement onscroll soit généré... */
		overflow-y : scroll; 
		height : 75vh; /* sinon pas de scroll ! */
	}

/* La div en haut de la page dossier : contient le bouton retour */
#gros_bout_div 
	{
		text-align : center;
		height : 10vh;
	}

/* Le bouton qui va dans la div gros_bout_div */
.gros_bout 
	{
		width: 80%;
		font-size: 2em;
		padding-top : .7ex;
		padding-bottom: .7ex;
		border-radius: .2em .2em .2em .2em;
		background-color: #cccccc;
		color : Blue;
	}
	
/********** 2/ Les tableaux *********/
		
table
	{
		text-align : center;
		vertical-align : center;
		font-size : 1em;
	}

caption
	{
		font-size : 1em;
		margin : .25em; /* espace avec le tableau !*/
	}
	
/* pour les tableaux */
.bord 
	{
		border : 1px solid black;
	}

/********** 3/ Mise en forme du texte *********/
.grossi
	{
		font-size : 1.4em;
	}

.candid
	{
		font-size : 1.6em;
	}

.scores
	{
		white-space : nowrap;
		padding-left: .75em;
		padding-right : .75em;
	}

.score
	{
		font-size : 3em;
		width : 6em;
	}

.notes
	{
		width : 3em;
		border : 0px;
		font-size: 1em;
		text-align : center;
		background-color : LightGrey;
	}
	
/********** 4/ Action de la commission : correction + motivation *********/

/* Volet 3 : Motivations + boutons */ 
.volet3  
	{
		align : center;
		width : 73vw;
	}
	
/* Cellule titre = Motivations(s) de la commission */
.motiv 
	{
		width : 73vw;
		text-align : left;
		font-size : 1.2em;
	}

/* Bouton "motifs" commission */
.motif 
	{
		width : 21vw; /* la moitié de 60% de 70% de vw */
		height : 2em;
		text-align : left;
		font-size : 1em;
		background-color : LightGrey;
	}

/* Texte bilan des motifs : je recopie sinon ça déconne à l'impression */
.txt_motifs 
	{
		width : 42vw; /* 60% de 70% de vw */
		height : 2em;
		text-align : left;
		font-size : 1em;
		background-color : white;
	}

/* Bouton NC */
.NC	
	{
		text-align : center;
		vertical-align : center;
		border-radius: .25em .25em .25em .25em;
		background-color: #cccccc;
		color : Red;
		font-size : 2em;
		padding-top : .7ex;
		padding-bottom: .7ex;
		padding-left : .25em;
		padding-right: .25em;
		margin-right : .25em;
	}

/* div du bouton valider */
.valid 
	{
		width : 18vw; /* 40% de 70% de vw */
		text-align : center;
		vertical-align : center;
	}
	
/* bouton valider */
.valid_bouton 
	{
		padding-top : .7ex;
		padding-bottom: .7ex;
		padding-left : .8em;
		padding-right: .8em;
		margin-right : 0em;
	
		border-radius: .2em .2em .2em .2em;
		background-color: #cccccc;
		color : LimeGreen;
		font-size : 5em;
	
		cursor: pointer;
	}

/********** 4/ L'objet range de sélection de la correction *********/
/* Compatibilité avec tous les navigateurs ?? */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 99%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background-color: LightGrey;
		background-image:
			linear-gradient(90deg, black 4px, transparent 2px),
			linear-gradient(90deg, black 3px, transparent 2px);
		background-size: 16.48% 16.48%, 16.48% 16.48%;
		background-origin : 0 0, 0 0;
		background-position: 2px 2px, 10.5% 10.5%;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 8px;
    border-radius: 30%;
    background: Black;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background-color: LightGrey;
		background-image:
			linear-gradient(90deg, black 4px, transparent 2px),
			linear-gradient(90deg, black 3px, transparent 2px);
		background-size: 16.48% 16.48%, 16.48% 16.48%;
		background-origin : 0 0, 0 0;
		background-position: 2px 2px, 10.5% 10.5%;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 8px;
    border-radius: 30%;
    background: Black;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 3px;
}
input[type=range]::-ms-fill-upper {
    background-color: LightGrey;
		background-image:
			linear-gradient(90deg, black 4px, transparent 2px),
			linear-gradient(90deg, black 3px, transparent 2px);
		background-size: 16.48% 16.48%, 16.48% 16.48%;
		background-origin : 0 0, 0 0;
		background-position: 2px 2px, 10.5% 10.5%;
    border: none;
    border-radius: 3px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 8px;
    border-radius: 30%;
    background: Black;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
