/* Code css relatif au media "print" : on gère ici ce qui est affiché sur les 
 * fiches bilan de la commission
 */
/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} /* s'applique à tous les éléments : width est une largeur hors-tout !! */

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}

@page { size: A4; }
body {
	width : 85%;
	padding-top : 0cm;
	margin-left: auto;
	margin-right: auto;
	position : static;
	font-size : 1.15vw 
}

/***********************************
	classes génériques
************************************/
.row {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 4px;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.wrap { flex-wrap: wrap; }
.justAround { justify-content: space-around; }
.justCenter { justify-content: center; }
.aligCenter { align-self: center; }
.aligBaseline { align-self: baseline; }

.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }

.bordered {
	border: 1px solid black; 
	margin-top: 4px;
	margin-left: 4px;
}

.extraTopMarg { margin-top: 2ex; }
.extraTopMarg1 { margin-top: 1ex; }
.extraRightMarg { margin-right: 2ex; }
.noMargin { margin: 0; }

/***********************************
	BOUTONS
************************************/
.bouton {
	padding-top : .7ex;
	padding-bottom: .7ex;
	padding-left : 1em;
	padding-right: 1em;
	margin-bottom : .5ex;
	border-radius: .3em .3em .3em .3em ;
	background-color: #cccccc;
	cursor: pointer;
	display: none;
}

.petit {
	margin-left: .5em;
	margin-right: .5em;
}

.grand {
}

/***********************************
	TEXTE
************************************/
.taille-1 { font-size : 80%; }

.taille0 { font-size : 100%; }

.taille1 { font-size : 130%; }

.taille2 { font-size: 300%; }

.textCentre { text-align: center; }

.textAgauche { text-align: left; }

.textAdroite { text-align: right; }

.bold { font-weight: bold; }

.bleu { color : Blue; }

.vert { color : LimeGreen; }

/**********************************
	MENUS (général, admin, comm)
************************************/

/***********************************
			IMPRESSION
************************************/
.impr { visibility: visible; }
.no_impr { display: none; }

div.breakafter
	{ 
  		page-break-after: always; 
	}

/***********************************
		LISTE DES DOSSIERS
************************************/

/***********************************
			PAGE DOSSIERS
************************************/

.doss_trim {
	justify-content: flex-end;
	align-items: flex-end;
	min-width:8em;
	margin-bottom:10px;
}

.notes {/* champ de saisie pour l'admin */
	width : 100%;
	border : 0px;
	text-align: center;
	font-size: 100%;
	background-color : LightGrey;
}
	
/********** 4/ Action de la commission : correction + motivation *********/

/* Bouton "motifs" commission */
.motif {
	height : 2em;
	margin-top: 4px;
	margin-right: 4px;
	font-size : 100%;
	background-color : LightGrey;
	flex: 1;
}

/* Texte bilan des motifs : je recopie sinon ça déconne à l'impression */
.txt_motifs {
	width : 100%;
	height : 2em;
	text-align : left;
	font-size : 100%;
	background-color : white;
}

