/*
 * La philosophie suivie est celle de OOCSS (Object Oriented CSS) : elle 
 * consiste à ne pas définir les propriétés par éléments html, mais à créer des 
 * classes de propriétés qui puisse s'appliquer à plusieurs éléments. Par 
 * exemple les classes d'alignement du texte dans une <div>... L'autre 
 * caractéristique de OOCSS est de séparer les propriétés liées au 
 * positionnement des propriétés liées à l'aspect du contenu.
 *
 * Concernant la gestion de la mise en page (layout), c'est 'flexbox' qui a été 
 * retenu.
 */
/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}

.body {
	width : 100%;
	background-color : LightGrey;
	text-align: center;
	font-size : 1.15vw /* Taille de base selon la largeur de la vue (1 = 100 
	carac/ligne) !*/
}

.header {
	position : fixed;
	z-index : 1;
	top : 0px;
	width :100%;
	height : var(--header-height);
	background-color : LightGrey;
}

.main_container {
	position : relative;
	z-index : 0; /* inférieur à z-index du header : passe dessous ! */
	overflow-y : hidden;
	top : var(--header-height); /* juste sous le header */
	width : 100%;
}

/***********************************
	classes génériques
************************************/
.row { /* les éléments sont positionnés en ligne */
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 4px;
}

.col { /* les éléments sont positionnés en colonne */
	display: flex;
	flex-direction: column;
	justify-content: start;
}

/* Alignement des éléments entre eux et dans le contenant */
.wrap { flex-wrap: wrap; }
.justAround { justify-content: space-around; }
.justCenter { justify-content: center; }
.aligAround { align-content: space-around; }
.aligCenter { align-content: center; }
.aligBaseline { align-self: baseline; }

/* Répartition de l'espace disponible entre les différents contenus */
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }

/* Aspect */
.bordered {
	border: 1px solid black; 
	margin-top: 4px;
	margin-left: 4px;
}

/* Ajustement du rendu */
.extraTopMarg { margin-top: 2ex; }
.extraTopMarg1 { margin-top: 1ex; }
.extraRightMarg { margin-right: 2ex; }
.noMargin { margin: 0; }

/***********************************
	LOADING ... please wait
************************************/
/* Une exception à la philosophie OOCSS : l'écran qui demande de patienter */
#patience {
	position: fixed;
	visibility: hidden;
	z-index:    1000;
	text-align : center;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    padding-top: 15%;
    background: rgba( 255, 255, 255, .9 );
}

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/***********************************
	BOUTONS
************************************/
.bouton {
	padding-top : .7ex;
	padding-bottom: .7ex;
	padding-left : 1em;
	padding-right: 1em;
	margin-bottom : .5ex;
	border-radius: .3em .3em .3em .3em ;
	background-color: #cccccc;
	cursor: pointer;
}

.petit {
	margin-left: .5em;
	margin-right: .5em;
}

.grand {
}

/***********************************
	TEXTE
************************************/
.taille-1 { font-size : 80%; }

.taille0 { font-size : 100%; }

.taille1 { font-size : 130%; }

.taille2 { font-size: 300%; }

.textCentre { text-align: center; }

.textAgauche { text-align: left; }

.textAdroite { text-align: right; }

.bold { font-weight: bold; }

.bleu { color : Blue; }

.vert { color : LimeGreen; }

/**********************************
	MENUS (général, admin, comm)
************************************/
/*  Sous-menu (dans le cas admin, contient les étapes) */
.sous_menu {
	border:1px solid black;
	padding-top: .5vw;
	padding-bottom: .5vw;
	padding-left: 1em;
	padding-right: 1em;
	margin-left : 5%;
	margin-right : 5%;
}

/* Pour la disposition des boutons choix de fichier */
.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

/* sous menu jurys : esthétique */
.liste_jury {
	margin-left:20%;
	margin-right:20%;
}

/***********************************
			IMPRESSION
************************************/
.impr { /* élément présent uniquement à l'impression */
	display: none;
}

/* un saut de page */
div.breakafter { 
	page-break-after: always; 
}

/***********************************
		LISTE DES DOSSIERS
************************************/

/* format type d'un bouton de cette liste */
.doss 
	{
		/* Pour la présentation : police monospace */
		font-family : Courier, monospace; 
		font-size : smaller;
		color : black;
		text-align : left;
		box-sizing : border-box;
		margin-top : 0ex;
		margin-bottom : 0ex;
		background-color : rgba( 255, 255, 255, .9 );
	}

/* on passe dessus avec la souris */
.doss:hover{border: 2px solid SkyBlue;} 
	
/* a été traité --> vert */
.doss_traite{background-color:LimeGreen;} 

/* est sélectionné : bordure bleue */
.doss_courant{border: 2px solid Blue; color : red;} 

/* est de l'epa : bordure bleue */
.doss_epa{border: 3px dashed Blue;} 

/* admin : alerte / jury : commentaire admin */
.doss_incomplet{background-color:LightCoral;} 

/* admin : déposé un commentaire mais classable */
.doss_commente{background-color:Yellow;} 

/* admin seulement : rejeté */
.doss_rejete{background-color:DimGray;} 

/* ex-aequo score final */
.doss_doublon_sf{background-color:Purple;} 

/***********************************
			PAGE DOSSIERS
************************************/

.doss_trim { /* la liste des trimestres dans le tableau de notes */
	justify-content: flex-end;
	align-items: flex-end;
	min-width:8em;
	margin-bottom:10px;
}

.notes {/* champ de saisie pour l'admin */
	width : 100%;
	border : 0px;
	text-align: center;
	font-size: 100%;
	background-color : LightGrey;
}

#liste { /* sert pour que l'évènement onscroll soit généré... */
	overflow-y : scroll; 
	height : 32vw;/*67vh;/* sinon pas de scroll ! */
}
	
/********** 4/ Action de la commission : correction + motivation *********/

/* Boutons "motifs" commission */
.motif {
	height : 2em;
	margin-top: 4px;
	margin-right: 4px;
	font-size : 100%;
	background-color : LightGrey;
	flex: 1;
}

/* Texte bilan des motifs */
.txt_motifs {
	width : 100%;
	height : 2em;
	text-align : left;
	font-size : 100%;
	background-color : white;
}

/********** 4/ L'objet range de sélection de la correction *********/
.tick { /* les largeurs des graduations */
	width: 2em;
}
/* Compatibilité avec tous les navigateurs ?? */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 99%;
}

/*------------------*/
/* chrome et safari */
/*------------------*/

/* la piste */
input[type=range]::-webkit-slider-runnable-track {
    width: 99%;
    height: 5px;
    background-color: LightGrey;
		background-image:
			linear-gradient(90deg, black 4px, transparent 2px),
			linear-gradient(90deg, black 2px, transparent 2px);
		background-size: 7.07% 7.07%, 7.07% 7.07%;
		background-origin : 0 0, 0 0;
		background-position: 2px 8px, 50% 50%;
    border: none;
    border-radius: 3px;
}

/* le curseur */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 8px;
    border-radius: 30%;
    background: Black;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}

/*---------*/
/* firefox */
/*---------*/

/* la piste */
input[type=range]::-moz-range-track {
    width: 99%;
    height: 8px;
    background-color: LightGrey;
		background-image:
			linear-gradient(90deg, black 4px, transparent 2px),
			linear-gradient(90deg, black 2px, transparent 2px);
		background-size: 7.10% 7.10%, 7.10% 7.10%;
		background-origin : 0 0, 0 0;
		background-position: 0px 2px, 50% 50%;
    border: none;
    border-radius: 2px;
}

/* le curseur */
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 8px;
    border-radius: 30%;
    background: Black;
}
