/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} /* s'applique à tous les éléments : width est une largeur hors-tout !! */

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}

body
{
	page : size = A4;
	width : 85%;
	padding-top : 1cm;
	margin-left: auto;
	margin-right: auto;
	position : static;
}

.no_imp { /* supprime l'affichage de l'objet */
	display: none;
}

.main_container {
	display: block;
	position : relative;
	z-index : 0; /* inférieur à z-index du header : passe dessous ! */
	overflow-y : hidden;
	top : var(--header-height); /* juste sous le header */
	width : 100%;
}

/***********************************
	classes génériques
************************************/
.row {
	display: none;
	justify-content: space-around;
	padding: 4px;
}

.col {
	display: none;
	flex-direction: column;
}

.bordered {
	border: 1px solid black; 
	margin-top: 4px;
}

.bold { font-weight: bold; }

.gapleft { margin-left: 4px; }

/***********************************
	BOUTONS
************************************/
.bouton {
	display: block;
	padding-top : .7ex;
	padding-bottom: .7ex;
	padding-left : 1em;
	padding-right: 1em;
	margin-bottom : .5ex;
	border-radius: .3em .3em .3em .3em ;
	background-color: #cccccc;
	cursor: pointer;
}

.petit {
	margin-left: .5em;
	margin-right: .5em;
}

.grand {
}

/***********************************
	TEXTE
************************************/
.taille1 {

	font-size : 130%;

}

.taille2 {
	font-size: 300%;
}

.centre { text-align: center; }


.bleu {
	color : Blue;
}

.vert {
	color : LimeGreen;
}

/***********************************
			IMPRESSION
************************************/

/* Rajoute des espaces dans l'impression ...*/
.espace_impr 
	{
		display: none;
	}

/* La correction : on imprime mais n'affiche pas*/
.correc_impr 
	{
		display : none;
	}

.impr_seul
	{
		display: none;
	}

div.breakafter
	{ 
  		page-break-after: always; 
	}

/***********************************
			PAGE DOSSIERS
************************************/

.doss_container {
	display: none;
}

.doss_column {
	display: none;
}

.doss_score {
	display: none;
}

.encadre /* Pour le texte candidat classé ... ou candidat non classé*/
	{
		display: none;
	}

