/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} /* s'applique à tous les éléments : width est une largeur hors-tout !! */

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}

body {
	page : size = A4;
	width : 85%;
	padding-top : 0cm;
	margin-left: auto;
	margin-right: auto;
	position : static;
	font-size : 1.15vw 
}

.header {
	position : fixed;
	z-index : 1;
	top : 0px;
	width :100%;
	height : var(--header-height);
	background-color : LightGrey;
}

.main_container {
	position : relative;
	z-index : 0; /* inférieur à z-index du header : passe dessous ! */
	overflow-y : hidden;
	top : var(--header-height); /* juste sous le header */
	width : 100%;
}

/***********************************
classes génériques
 ************************************/
.row {
	display: flex;
	justify-content: space-around;
	padding: 4px;
}

.col {
	display: flex;
	flex-direction: column;
}

.bordered {
	border: 1px solid black; 
	margin-top: 4px;
}

.bold { font-weight: bold; }

.gapleft { margin-left: 4px; }

.no_imp {
	display: none;
}
/***********************************
BOUTONS
 ************************************/
.bouton {
	display: none;
}

/***********************************
TEXTE
 ************************************/
.taille1 {

	font-size : 130%;

}

.taille2 {
	font-size: 300%;
}

.centre { text-align: center; }


.bleu {
	color : Blue;
}

.vert {
	color : LimeGreen;
}

/**********************************
MENUS (général, admin, comm)
 ************************************/
/***********************************
IMPRESSION
 ************************************/

.espace_impr /* Rajoute des espaces dans l'impression ...*/
{
	margin-top :2ex;
}

.correc_notimpr /* La liste des corrections : on affiche mais n'imprime pas*/
{
	display : none;
}

.correc_impr
{
	font-size : 1.5em;
}

.impr_seul
{
	font-size : 1.3em;
	margin-top: 2ex;
	text-align: center;
}

div.breakafter
{ 
	page-break-after: always; 
}

/***********************************
LISTE DES DOSSIERS
 ************************************/

/* format type d'un bouton de cette liste */
.doss 
{
	display: none;
}

/***********************************
PAGE DOSSIERS
 ************************************/

.doss_container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 2ex;
}

.doss_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left:1ex;
	margin-right:1ex;
}

.pedigre {
	flex-wrap: wrap;
	justify-content: space-between;
	min-height:8ex;
	align-content:space-evenly;
}

.doss_score {
	display:flex;
	border:1px solid black;
	margin-top:2ex;
	margin-bottom:2ex;
	padding-top:5px;
	padding-bottom:5px;
	align-items: center;
	justify-content: space-between;
}

.score_col {
	padding-left:5px;
	padding-right:5px;
	text-align: center;
}

.doss_trim {
	justify-content: flex-end;
	align-items: flex-end;
	min-width:8em;
	margin-bottom:10px;
}

/********** 3/ Mise en forme du texte *********/

.note {
	font-size: 140%;
}

.notes {/* champ de saisie pour l'admin */
	width : 100%;
	border : 0px;
	text-align: center;
	font-size: 100%;
	background-color : LightGrey;
}

/********** 4/ Action de la commission : correction + motivation *********/

/* Cellule titre = Motivations(s) de la commission */
.motiv {
	text-align :left;
	padding-left: 5px;
	padding-bottom: 3px;
	font-size : larger;
	font-weight: bold;
}

/* Bouton "motifs" commission */
.motifs {
	display: flex;
	flex-flow: row wrap;
}

.motif {
	display: none;
}

/* Texte bilan des motifs : je recopie sinon ça déconne à l'impression */
.txt_motifs {
	width : 100%;
	height : 2em;
	text-align : left;
	font-size : 100%;
	background-color : white;
}

/********** 4/ L'objet range de sélection de la correction *********/
.tick { /* les valeurs des graduations */
	display: none;
}
/* Compatibilité avec tous les navigateurs ?? */

input[type=range] {
	display: none;
}

.encadre /* Pour le texte candidat classé ... ou candidat non classé*/
{
	font-size : 1.5em;
	border : 1px solid black;
	padding-top : .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right 1em;
	text-align : center;
	margin-bottom: 1em;
}

