/* Code css relatif aux pages obtenues à l'étape 5 du menu admin : seul le 
 * bouton retour est affiché.
 */
/***********************************
	 ÉLÉMENTS GÉNÉRAUX
************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} /* s'applique à tous les éléments : width est une largeur hors-tout !! */

:root
{
	--header-height : 5vw; /* hauteur proportionnelle à la largeur de l'écran 
	car la taille de police est proportionnelle cette largeur. */
}

/* On cache tout sauf le bouton retour... */
*{ visibility: hidden; }

body {
	visibility: visible;
	page : size = A4;
	width : 85%;
	padding-top : 1cm;
	margin-left: auto;
	margin-right: auto;
	position : static;
}

/***********************************
	BOUTONS
************************************/
.bouton {
	visibility: visible;
	padding-top : .7ex;
	padding-bottom: .7ex;
	padding-left : 1em;
	padding-right: 1em;
	margin-bottom : .5ex;
	border-radius: .3em .3em .3em .3em ;
	background-color: #cccccc;
	cursor: pointer;
}

.petit {
	margin-left: .5em;
	margin-right: .5em;
}

.grand {
}

/***********************************
	TEXTE
************************************/
.taille-1 { font-size : 80%; }

.taille0 { font-size : 100%; }

.taille1 { font-size : 130%; }

.taille2 { font-size: 300%; }

.textCentre { text-align: center; }

.textAgauche { text-align: left; }

.textAdroite { text-align: right; }

.bold { font-weight: bold; }

.bleu { color : Blue; }

.vert { visibility: hidden; }
